html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

figure {
  display: block;
  border: 5px solid black;
}

div.whole {
  position: relative;
  margin: auto;
  width: 586px;
}

div.again-div {
  position: absolute;
  top: 120px;
}

div.start-div {
  position: absolute;
  top: 180px;
  width: 586px;
}

.invisible {
  display: none;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 32px;
  height: 32px;
}

.apple {
  background: url('../images/pikachu.gif');
}

.snake {
  background: url('../images/pokeball.png');
}

.snake-head-N {
  background: url('../images/trainer-n.gif');
  background-repeat: no-repeat;
}

.snake-head-S {
  background: url('../images/trainer-s.gif');
  background-repeat: no-repeat;
}

.snake-head-E {
  background: url('../images/trainer-e.gif');
  background-repeat: no-repeat;
}

.snake-head-W {
  background: url('../images/trainer-w.gif');
  background-repeat: no-repeat;
}

button {
  outline: 1px solid black;
  background: white;
}

.title {
  margin-top: 20px;
}

i {
  padding: 5px;
  color: gray;
}

i:hover {
  color: #e81c1c;
}
